In [2]:
import pandas as pd

data = pd.read_csv('../datasets/kc_house_data.csv')

In [20]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [21]:
data.shape

(21613, 21)

## Perguntas do CEO

In [54]:
# 1. Quantas casas estão disponíveis para venda?
print("\nQUESTÃO 01:\n{} casas estão disponíveis para venda.".format(len(data))) # len(data.index)

QUESTÃO 01:
21613 casas estão disponíveis para venda.

In [55]:

# 2. Quantos atributos as casas possuem?
print("\nQUESTÃO 02:\nAs casas possuem", data.shape[1], "atributos.") # len(data.columns)

QUESTÃO 02:
As casas possuem 21 atributos.

In [56]:
# 3. Quais são os atributos das casas?

print("\nQUESTÃO 03:\nOs atributos das casas são: \n", data.columns.values) # for atributo in data.columns.values: print(atributo)

QUESTÃO 03:
Os atributos das casas são:
 ['id' 'date' 'price' 'bedrooms' 'bathrooms' 'sqft_living' 'sqft_lot'
 'floors' 'waterfront' 'view' 'condition' 'grade' 'sqft_above'
 'sqft_basement' 'yr_built' 'yr_renovated' 'zipcode' 'lat' 'long'
 'sqft_living15' 'sqft_lot15']

In [99]:
# 4. Qual a casa mais cara (casa com o maior valor de venda)?
print("\nQUESTÃO 04:\nA casa mais cara é a de ID {}, cujo valor é de R$ {:.2f}.\n". \
      format(data['id'][data['price'].argmax()], max(data['price']))) 

# ou
# casaMaisCara = data[['id', 'price']].sort_values('price', ascending=False).head(1)
# print('\nQUESTÃO 04:\nA casa mais cara é a de ID {}, cujo valor é de R$ {:.2f}.\n'.format(casaMaisCara.iat[0,0], casaMaisCara.iat[0,1]))

QUESTÃO 04:
A casa mais cara é a de ID 6762700020, cujo valor é de R$ 7700000.00.

In [111]:
# 5. Qual a casa com o maior número de quartos?
print('\nQUESTÃO 05:\nA casa com maior número de quartos é a de ID {}, cuja a quantidade é de {} quartos.\n'. \
      format(data['id'][data['bedrooms'].argmax()], max(data['bedrooms']))) 

# # Casas ordenadas pelo número de quartos
# data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False)

QUESTÃO 05:
A casa com maior número de quartos é a de ID 2402100895, cuja a quantidade é de 33 quartos.

In [116]:
# 6. Qual a soma total de quartos do conjunto de dados?
print("QUESTÃO 06:\nO conjunto de dados possui um total de {} quartos.\n".format(data["bedrooms"].sum())) # sum(data['bedrooms'])

QUESTÃO 06:
O conjunto de dados possui um total de 72854 quartos.

In [147]:
# 7. Quantas casas possuem 2 banheiros?
print("QUESTÃO 07:\nUm total de {} casas possuem 2 banheiros.\n".\
      format( len(data.query('bathrooms==2')) )) # (data["bathrooms"] == 2).sum())

QUESTÃO 07:
Um total de 1930 casas possuem 2 banheiros.

In [182]:
# 8. Qual o preço médio de todas as casas no conjunto de dados?
# soma_preco_casas = data['price'].sum()
# print("A soma dos preços é igual a: R$", soma_preco_casas)
# qtdd_casas = len(data.index) #row_count, column_count = df.shape
# print("A quantidade de casas é igual a:", qtdd_casas)
# print("O preço médio de todas as casas é: R$", round(soma_preco_casas / qtdd_casas, 2))

# Ou usando a função mean
print("QUESTÃO 08:\nO preço médio das casas é de R$ {:.2f}\n".format(data['price'].mean())) # data['price'].describe()[1]

QUESTÃO 08:
O preço médio das casas é de R$ 540088.14

In [183]:
# 9. Qual o preço médio de casas com 2 banheiros?

casas_2banheiros = data.query('bathrooms == 2') 
print("QUESTÃO 9:\nO preço médio de casas com dois banheiros é de R$ {:.2f}\n".\
      format(casas_2banheiros['price'].mean()))

QUESTÃO 9:
O preço médio de casas com dois banheiros é de R$ 457889.72

In [193]:
# 10. Qual o preço mínimo entre as casas com 3 quartos?
casas_3quartos = data.query('bedrooms == 3') 
print("QUESTÃO 10:\nO preço mínimo entre as casas com 3 quartos é de R$ {:.2f}\n".\
      format(casas_3quartos.price.min())) # casas_3quartos.price.describe()[3]

QUESTÃO 10:
O preço mínimo entre as casas com 3 quartos é de R$ 82000.00

In [219]:
# 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
data['m2_living'] = data['sqft_living'] * 0.092903
qtdCasas_salas_mais_de_300m = len(data.query('m2_living > 300'))
print("QUESTÃO 11:\n{} casas possuem mais de 300 metros quadrados na sala de estar.\n".\
      format(qtddCasas_salas_mais_de_300m))

QUESTÃO 11:
2258 casas possuem mais de 300 metros quadrados na sala de estar.

In [232]:
# 12. Quantas casas tem mais de 2 andares?
qtdCasas_mais_de_2_andares = len(data.query('floors > 2')) # data.loc[ data['floors'] > 2, 'floors'].count()
print("QUESTÃO 12:\n{} casas tem mais de 2 andares\n".format(qtd_mais_d_2_andares))

QUESTÃO 12:
782 casas tem mais de 2 andares

In [231]:
# 13. Quantas casas tem vista para o mar?
qtdCasas_vista_mar = len(data.query('waterfront == 1')) # len(data.loc[data['waterfront'] == True, 'waterfront'])
print("QUESTÃO 13:\n{} casas tem vista para o mar.\n".format(qtdCasas_vista_mar))

QUESTÃO 13:
163 casas tem vista para o mar.

In [233]:
# 14. Das casas com vista para o mar, quantas tem 3 quartos?
# qtdCasas_vista_mar_3quartos = len(data.query('waterfront == 1').query('bedrooms == 3'))
qtdCasas_vista_mar_3quartos = len(data.loc[(data.waterfront == 1) & (data.bedrooms == 3)])
print('QUESTÃO 14:\n{} casas com vista para o mar tem 3 quartos.\n'.format(qtdCasas_vista_mar_3quartos))

QUESTÃO 14:
64 casas com vista para o mar tem 3 quartos.

In [245]:
# 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?
#qtdCasas_sala300m_e_2banheiros = len(data.loc[(data.m2_living > 300) & (data.bathrooms > 2)])
qtdCasas_sala300m_e_2banheiros = len(data.query('m2_living > 300').query('bathrooms > 2'))
print("QUESTÃO 15:\n{} casas com mais de 300 metros quadrados de sala de estar tem mais de dois banheiros.".\
      format(qtdCasas_sala300m_e_2banheiros))

QUESTÃO 15:
2201 casas com mais de 300 metros quadrados de sala de estar tem mais de dois banheiros.