In [1]:
import pandas as pd
from numpy import int64


pd.set_option('display.float_format', lambda x: '%.2f' % x)

#@st.cache( allow_output_mutation=True )
def get_data(path):
    data = pd.read_csv(path)
    return data


# 1. Quais são os imóveis que a House Rocket deveria comprar e por qual preço?
def buy_houses(df): 
    price_median = df[['zipcode', 'price']].groupby('zipcode').median().reset_index()

    df2 = pd.merge( df, price_median, on='zipcode', how='inner')
    df2.shape

    df2.rename(columns={"price_x": "price", "price_y": "price_median"}, inplace=True)

    house_buy = df2[['id', 'zipcode', 'price', 'price_median', 'condition']].copy()

    for i in range( len(house_buy) ):
        if ( (house_buy.loc[i, 'price'] < house_buy.loc[i,'price_median']) & (house_buy.loc[i, 'condition'] == 5) ):
            house_buy.loc[i,'status'] = 'buy'
        else:
            house_buy.loc[i,'status'] = 'dont buy'

    result = house_buy.loc[house_buy['status'] == 'buy']
    
    return result 


# 2. Uma vez o imóvel comprado, qual o melhor momento para vendê-lo e por qual preço?
def sell_houses(df):
    df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')
    df['month'] = pd.to_datetime(df['date']).dt.strftime('%m')
    df['month'] = df['month'].astype(int64)

    df2 = df[['id', 'zipcode', 'price', 'month']].copy()

    # creating season columns
    #https://www.tripsavvy.com/the-weather-and-climate-in-seattle-4175384
    # Spring 3 4 5; summer 6 7 8; fall 9 10 11; Winter 12 1 2;
    for i in range( len(df2) ):
        if ( (df2.loc[i, 'month'] >= 3) & (df2.loc[i, 'month'] <= 5) ):
            df2.loc[i, 'season'] = 'Spring'

        elif ( (df2.loc[i, 'month'] >= 6) & (df2.loc[i, 'month'] <= 8) ):
            df2.loc[i, 'season'] = 'Summer'

        elif ( (df2.loc[i, 'month'] >= 9) & (df2.loc[i, 'month'] <= 11) ):
            df2.loc[i, 'season'] = 'Fall'

        elif ( (df2.loc[i, 'month'] <= 2) | (df2.loc[i, 'month'] == 12) ):
            df2.loc[i, 'season'] = 'Winter'

        else: df2.loc[i, 'season'] = 'Not defined'

            
    season = df2[['price', 'zipcode', 'season']].groupby(['zipcode', 'season']).median().reset_index()
    df2 = pd.merge( df2, season, on=['zipcode', 'season'], how='inner')
    df2.rename(columns={"price_x": "price", "price_y": "price_median"}, inplace=True)

    df2 = df2[['id', 'zipcode', 'season', 'month', 'price_median', 'price']]

    
    # Calculando as melhores casas p/ vender (calculating the best houses to sell)
    for i in range( len(df2) ):
        if ( (df2.loc[i, 'price'] >= df2.loc[i, 'price_median']) ):
            df2.loc[i, 'sale_price'] = ( (df2.loc[i, 'price']) * (1.1) )
            df2.loc[i, 'profit'] = ( (df2.loc[i, 'sale_price']) - (df2.loc[i, 'price']) )
            df2.loc[i, 'profit_perc'] = '30%'

        elif ( (df2.loc[i, 'price'] < df2.loc[i, 'price_median']) ):
            df2.loc[i, 'sale_price'] = ( (df2.loc[i, 'price']) * (1.3) )
            df2.loc[i, 'profit'] = ( (df2.loc[i, 'sale_price']) - (df2.loc[i, 'price']) )
            df2.loc[i, 'profit_perc'] = '10%'
    
    return df2

    
    
# H1: imóveis que possuem vista para água, são 20% mais caros, na média.    
def hypothesis1(df):
    price_mean = df[['zipcode', 'price']].groupby('zipcode').mean().reset_index()

    df = pd.merge( df, price_mean, on='zipcode', how='inner' )
    df.rename(columns={"price_x": "price", "price_y": "price_mean"}, inplace=True)

    df = df[['id', 'zipcode', 'price', 'price_mean', 'waterfront']].copy()
    
    # creating 20% column
    for i in range( len(df) ):
        if ( ( df.loc[i, 'waterfront'] == 1 ) & ( df.loc[i, 'price'] >= (df.loc[i, 'price_mean']*1.2) ) ):
            df.loc[i, '20perc_more_expensive'] = 'Yes'
        else: 
            df.loc[i, '20perc_more_expensive'] = 'No'

    #df.head()
    #qtd_casas_waterfront = df.loc[(df['waterfront'] == 1)].count()
    #df.loc[(df['waterfront'] == 1)]

    qtd_casas_waterfront = df.loc[(df['waterfront'] == 1)].shape
    qtd_casas_waterfront_20 = df.loc[(df['waterfront'] == 1) & (df['20perc_more_expensive'] == 'Yes')].shape
    
    # showing the answer
    result = str( 'Existem {} casas com vista para a água. Dessas, {} casas têm o seu valor 20% maior do que a média'
          .format(qtd_casas_waterfront[0], qtd_casas_waterfront_20[0]) )
    #print(result)
    return result


    
# H2: Imóveis com data de construção menor que 1995, são 50% mais baratos, na média.    
def hypothesis2(df):
    price_mean = df[['zipcode', 'price']].groupby('zipcode').mean().reset_index()

    df = pd.merge( df, price_mean, on='zipcode', how='inner' )
    df.rename(columns={"price_x": "price", "price_y": "price_mean"}, inplace=True)

    houses = df[['id', 'zipcode', 'price', 'price_mean', 'yr_built']].copy()

    qtd_casas_1995 = houses.loc[ (houses['yr_built'] < 1995) ].shape
    qtd_casas_1995_mean = houses.loc[ (houses['yr_built'] < 1995) & (houses['price'] < houses['price_mean']/2)].shape
    
    # showing the answer
    result = str( 'Existem {} casas construídas antes de 1995. Dessas, {} casas têm o seu valor 50% menor do que a média'
          .format(qtd_casas_1995[0], qtd_casas_1995_mean[0]) )
    
    return result



# H3: Imóveis sem porão, possuem área total (sqrt_lot), são 40% maiores do que os imóveis com porão.
def hypothesis3(df):
    df['date'] = pd.to_datetime(df['date']).dt.strftime('%Y-%m-%d')

    # houses without basement
    basement0 = df.loc[ df['sqft_basement'] == 0 ] 
    basement0 = basement0[['sqft_lot', 'zipcode']].groupby('zipcode').mean().reset_index()
    
    # houses with basement
    basement1 = df.loc[ df['sqft_basement'] > 1 ] 
    basement1 = basement1[['sqft_lot', 'zipcode']].groupby('zipcode').mean().reset_index()
    
    basement = pd.merge(basement0, basement1, on='zipcode', how='inner')
    basement.rename(columns={"sqft_lot_x": "sqft_lot_0", "sqft_lot_y": "sqft_lot_1"}, inplace=True)
    
    for i in range( len(basement) ):
        if ( ( basement.loc[i, 'sqft_lot_0'] > basement.loc[i, 'sqft_lot_1']*1.4 )):
            basement.loc[i, 'sqft_lot_0_bigger'] = 'Yes'
        else: 
            basement.loc[i, 'sqft_lot_0_bigger'] = 'No'

    result = basement.loc[ basement['sqft_lot_0_bigger'] == 'Yes']
    
    return result
    # r: Falso, em somente duas localidades (zipcode), de 70, as casas sem porão apresentam a média do porão > que 40% em relação as casas com porão.
    # nas outras 68 localidades (zipcodes), os imóveis sem porão não são maiores em 40%+.
    
    # Melhorias
    # 1. analisar a localização geografíca dessas casas q obedecem à condição



# H4: O crescimento do preço dos imóveis YoY (Year over Year) é de 10%
def hypothesis4(df):
    df['date'] = pd.to_datetime( df['date'] ).dt.strftime('%Y-%m-%d')
    df['year'] = pd.to_datetime( df['date'] ).dt.strftime('%Y')

    price_median_year = df[['price', 'zipcode', 'year']].groupby(['zipcode', 'year']).median().reset_index()

    zipcodes = price_median_year['zipcode'].unique().tolist()
    result = pd.DataFrame(zipcodes, columns = ['Zipcode'])
    count = 0

    # calculating if YOY == 10 %
    for i in range(1,len(price_median_year)):
        if ( (price_median_year.loc[i-1, 'zipcode'] == price_median_year.loc[i, 'zipcode']) ):
            result.loc[count, '2014_median'] = price_median_year['price'].values[i-1]
            result.loc[count, '2015_median'] = price_median_year['price'].values[i]

            if ( (price_median_year.loc[i-1, 'price']*1.1) < (price_median_year.loc[i, 'price']) ):
                result.loc[count, 'YoY_10%'] = 'Yes'

            else:
                result.loc[count, 'YoY_10%'] = 'No'

            result.loc[count, 'percent_YoY'] = ((price_median_year['price'].values[i]*100) / price_median_year['price'].values[i-1] -100)
            count = count +1
    
    # showing the answer
    result = str( 'O crescimento do preço dos imóveis YoY não é de 10%, ele é de {:0.2f}%'
                 .format(result['percent_YoY'].mean()) )
    
    return result



# H5: Imóveis com 3 banheiros tem um crescimento de MoM (Month over Month) de 15%  
def hypothesis5(df):
    df['date'] = pd.to_datetime( df['date'] ).dt.strftime('%Y-%m-%d')

    df['year'] = pd.to_datetime( df['date'] ).dt.strftime('%Y')
    df['month'] = pd.to_datetime( df['date'] ).dt.strftime('%m')

    bathrooms3 = df.loc[df['bathrooms'] == 3]

    bathroom_median = bathrooms3[['price', 'zipcode', 'year', 'month']].groupby(['zipcode', 'year', 'month']).median().reset_index()

    bathroom_median

    months = bathroom_median['month'].tolist()
    result = bathroom_median[['zipcode', 'year', 'month', 'price']].copy()
    count = 0

    result

    for i in range(1,len(bathroom_median)):
        if ( (bathroom_median.loc[i-1, 'zipcode'] == bathroom_median.loc[i, 'zipcode']) ):
            if (bathroom_median.loc[i-1, 'year'] == bathroom_median.loc[i, 'year']) :
                result.loc[count, 'month_current'] = float(bathroom_median['month'].values[i-1])
                result.loc[count, 'month_next'] = float(bathroom_median['month'].values[i])

                if ( (int(bathroom_median.loc[i, 'month']) - float(bathroom_median.loc[i-1, 'month']) == 1 )) :
                    result.loc[count, 'month_diff'] = result.loc[count, 'month_next'] - result.loc[count, 'month_current']

                elif ( (int(bathroom_median.loc[i, 'month']) - float(bathroom_median.loc[i-1, 'month']) > 1 )) :
                    result.loc[count, 'month_diff'] = result.loc[count, 'month_next'] - result.loc[count, 'month_current']

            else :
                result.loc[count, 'month_current'] = int(bathroom_median['month'].values[i-1])
                result.loc[count, 'month_next'] = int(bathroom_median['month'].values[i])

                result.loc[count, 'month_diff'] = (12 - result.loc[count, 'month_current']) + result.loc[count, 'month_next']


            result.loc[count, 'percent_MoM/diff'] = ( 
                (  ( (bathroom_median.loc[i, 'price']*100) / bathroom_median.loc[i-1, 'price'])    -100) / 
                    result.loc[count, 'month_diff'] 
            )
            count += 1
                   


    # casas com 3 banheiros com crescimento MoM > 15
    # result.loc[(result['percent_MoM/diff'] > 15)]
    
    # showing the answer
    result = str( 'Existem {} casas com 3 banheiros. Dessas, {} casas tiveram um crescimento MoM maior que 15%'
          .format(result.shape[0], result.loc[(result['percent_MoM/diff'] > 15)].shape[0] ) )
    
    return result


    
if __name__ == '__main__':
    # ETL
    # ---- Data Extraction
    path = 'kc_house_data.csv'
    df = get_data(path)
    
    # ---- Transformation
    df1 = buy_houses(df)
#     df2 = sell_houses(df)
#     df_h1 = hypothesis1(df)
#     df_h2 = hypothesis2(df)
#     df_h3 = hypothesis3(df)
#     df_h4 = hypothesis4(df)
#     df_h5 = hypothesis5(df)

df1

               id  zipcode      price  price_median  condition status
20     3352402236    98178  252500.00     278277.00          5    buy
28      185000118    98178  212000.00     278277.00          5    buy
67     8068000585    98178  235000.00     278277.00          5    buy
69     7129300420    98178  258000.00     278277.00          5    buy
80     1180008315    98178  212000.00     278277.00          5    buy
...           ...      ...        ...           ...        ...    ...
21450  6623400193    98055  257000.00     294950.00          5    buy
21455  5365200040    98055  235000.00     294950.00          5    buy
21502  7224500010    98055  253000.00     294950.00          5    buy
21575  3262301355    98039 1320000.00    1892500.00          5    buy
21581  3738000070    98039 1712750.00    1892500.00          5    buy

[703 rows x 6 columns]

In [4]:
df1.shape[0]

703

In [2]:
df1

               id  zipcode      price  price_median  condition status
20     3352402236    98178  252500.00     278277.00          5    buy
28      185000118    98178  212000.00     278277.00          5    buy
67     8068000585    98178  235000.00     278277.00          5    buy
69     7129300420    98178  258000.00     278277.00          5    buy
80     1180008315    98178  212000.00     278277.00          5    buy
...           ...      ...        ...           ...        ...    ...
21450  6623400193    98055  257000.00     294950.00          5    buy
21455  5365200040    98055  235000.00     294950.00          5    buy
21502  7224500010    98055  253000.00     294950.00          5    buy
21575  3262301355    98039 1320000.00    1892500.00          5    buy
21581  3738000070    98039 1712750.00    1892500.00          5    buy

[703 rows x 6 columns]